/data
/resource
/tech
/doc
/Related Work
/LOG.txt

writing/document.aux
writing/document.blg
/writing/document.bbl
/writing/document.log
/writing/document.synctex.gz
/writing/document.pdf
code/ParallGraph.sublime-workspace
