/data
/resource
/tech
/doc
/Related Work
/LOG.txt

writing/document.aux
writing/document.blg
/writing/document.bbl
/writing/document.log
/writing/document.synctex.gz
/writing/document.pdf
code/ParallGraph.sublime-workspace
/code/frontend/js/zrender-2.1.0
/code/frontend/js/require.min.js
/code/frontend/js/zrender.js
*.sublime-workspace
code/ParallGraph.sublime-workspace
